@import "../../vars.css";

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px;
  padding-left: 10px;
  z-index: 2;
  margin: 0 10%;

   /* Glass effect styles */
    /* Glass effect styles */
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Creates the frosted glass effect */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  transition: all 0.3s ease;
  
  display: flex;
  justify-content: space-between; /* Space between the title and menu */
  align-items: center; /* Center items vertically */


  
}




.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Add padding to make it look better */
}

/* Other styles for menu, links, etc. */


.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}


.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
